@import "../styles/variables.scss";

.app {
    width: 100%;
    background-color: $dark-blue;
    background-image: url("../images/background-stars.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}