@import "../styles/variables.scss";

.app {
    height: 100%;
    background-color: $dark-blue;
    background-image: url("../../public/assets/background-stars.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}