@import "../styles/variables.scss";



.innernav-container-m {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid $dark-grey;
    height: 3rem;
}
.inner-button-m {
    color: $pure-white;
    padding: .5rem 0;
    background-color: transparent;
    border: none;
    transition-duration: .4s;
    font-family: "Spartan", sans-serif;
    font-weight: bold;
    font-size: .6rem;
    line-height: 10px;
    letter-spacing: 1.93px;
    text-transform: uppercase;
    opacity: .8;
}
.inner-button-m:hover {
    text-decoration-line: underline;
    text-underline-offset: .8rem;
    text-decoration-color: $light-grey;
    text-decoration-thickness: .3rem;
}
.inner-button-m:focus {
    text-decoration-line: underline;
    text-underline-offset: .8rem;
    text-decoration-color: $turquoise;
    text-decoration-thickness: .3rem;
}

@media screen and (min-width: 600px) {
    .innernav-container-m {
        display: none;
    }
}
