@import "../styles/variables.scss";

    .mobileNav {
        position: relative;
        top: 0;
        width: 100%;
        display: flex;
        border-bottom: solid 1px $dark-grey;
        height: 80px;
    }
    .topbar {
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navlink {
        text-decoration: none;
    }
        .title {
        color: white;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-family: 'Antonio', sans-serif;
        display: flex;
        padding: 0 2rem;

    }
    .hamburger {
        padding: 0 2rem;
        color: grey
    }
    .menu-container {
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        background-color: $dark-blue;
        background-image: url("../images/background-stars.svg");
        background-size: cover;
        z-index: 3;
    

    }
    .planet-button {
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px $dark-grey;
        padding: .5rem 0;
        // background-color: blue;
    }
    .navlink {
        text-decoration: none;
        color: $pure-white;
    }
    .left-container {
        display: flex;
        align-items: center;
    }
    .circle {
        width: 1.5rem;
        height: 1.5rem;
        background-color: grey;
        margin-right: 1.5rem;
        border-radius: 50%;
    }
    .name {
        font-family: 'Spartan', sans-serif;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 1.36364px;
        text-transform: uppercase;
    }




@media screen and (min-width: 600px) {
    .mobileNav {
        display: none;
    }
}
