@media screen and (max-width: 1199px) {
    .navbar {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px grey;
    height: 80px;
// padding: 0 2rem;
.navlink {
    text-decoration: none;
}
li {
    color: white;
    list-style-type: none;
    text-transform: uppercase;
    padding: 2rem ;
    font-family: 'Spartan', sans-serif;
    font-size: .9rem;
    font-weight: bold;   
}

}
.title {
    color: white;
    text-transform: uppercase;
    padding: 0 2rem;
    font-size: 2rem;
    font-family: 'Antonio', sans-serif;
}

.nav {
    display: flex;
}
};
