@import "../styles/variables.scss";

.planet-page {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.top-container {
    // background-color: pink;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.image-container {
    // background-color: yellowgreen;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geo-picture {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.image {

    z-index: 1;
}
.geo-img {
    z-index: 2;
    margin-top: -10rem;
}
.right-container {
    // background-color: blueviolet;
    width: 35%;
    padding: 1rem 0 1rem 2rem;
    .text ,.planet-name {
        color: white;
    }
    .text {
        font-family: 'Spartan', sans-serif;
        line-height: 2rem;
        font-size: 1rem;
        max-width: 25rem;
    }
    .planet-name {
        font-family: "Antonio", sans-serif;
        text-transform: uppercase;
        font-size: 3.5rem;
        line-height: 3rem;
    }
    .description {
        min-height: 20rem;

    }
}
.buttons {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 3rem 0;
    .button {
        padding: 1.2rem;
        margin-bottom: 1rem;
        color: $pure-white;
        font-weight: 700;
        line-height: 25px;
        font-size: 1rem;
        text-align: start;
        background-color: transparent;
        border: solid 1px grey;
        transition-duration: 0.4s;
        text-transform: uppercase;
        span {
            color: $light-grey;
            padding-right: 1rem;
        }
    }
    .button:hover {
        background-color: $dark-grey;
        border: solid 1px $dark-grey;
    }
    .button:focus {
        background-color: $turquoise;
        border: solid 1px $turquoise;
    }

}

.bottom-container {
    // background-color: coral;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: min-content;
    padding-bottom: 2.4rem;
}

.info {
    border: 1px solid $light-grey;
    padding: .5rem 2rem;
    min-width: 12rem;
    display: flex;
    flex-direction: column;
}
.data {
    font-family: Spartan;
    font-weight: bold;
    font-size: .7rem;
    line-height: .5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $pure-white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ;
    opacity: 0.5;
}
.value {
    font-family: Antonio;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: .2rem;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: $pure-white;
}

