@import "../styles/variables.scss";

.link-card {
    background-color: $dark-blue;
    width: 20rem;
    height: 15rem;
    background-color: $dark-blue;
    background-image: url(../images/planets.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 50px 63px -60px $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 3s;
    padding: 1rem;
    margin: 1rem 2rem;
}
.link-card:hover {
    background-position: 95% center;
    background-size: 150%;
   .link-card:hover .content {
       opacity: 1;
   }
}
.border {
    border-radius: 10px;
    background: transparent;
    transition: border 1s;

}
.border:hover .content {
    opacity: 1;
}
.cardTitle {
    text-align: center;
}
.content {
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

