@import "../styles/variables.scss";

//MOBILE
@media screen and (max-width: 600px) {
    .button {
        display: none;
    }
    .planet-page {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .top-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 25rem;
    }
    .planet-image {
        width: 50%;
        z-index: 1;
        animation-name: planet;
        animation-duration: 1.8s;
        animation-timing-function: fade-in;

    }
    .geo-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .geo-img {
        z-index: 2;
        margin-top: -8rem;
        width: 50%;
        animation-name: planet;
        animation-duration: 1.8s;
        animation-timing-function: fade-in;
    }
    .right-container {
        width: 100%;
        .text,
        .planet-name {
            color: $pure-white;
        }
        .text {
            font-family: "Spartan", sans-serif;
            line-height: 2rem;
            font-size: 0.8rem;
            padding: 1rem;
        }
        .planet-name {
            font-family: "Antonio", sans-serif;
            text-transform: uppercase;
            font-size: 2.5rem;
            line-height: 2rem;
        }
        .description {
            min-height: 20rem;
        }
        .source {
            color: $light-grey;
            padding-left: 0.5rem;
            font-weight: bold;
            text-decoration: underline;
        }
        .source-icon {
            padding-left: 0.5rem;
        }
    }
    .bottom-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        height: min-content;
        padding-bottom: 2.4rem;
    }
    .info {
        border: 1px solid $dark-grey;
        padding: 0.5rem 1.5rem;
        min-width: 12rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 1.5rem;
    }
    .data {
        font-family: Spartan;
        font-weight: bold;
        font-size: 0.7rem;
        line-height: 0.5rem;
        text-transform: uppercase;
        color: $pure-white;
        opacity: 0.5;
    }
    .value {
        font-family: Antonio;
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 0.2rem;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        color: $pure-white;
    }
}
//TABLET

@media screen and (min-width: 600px) and (max-width: 1200px) {
    .planet-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .top-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image-container {
        padding: 8rem 0 1rem ;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .planet-image {
        width: 50%;
        z-index: 1;
        // min-width: 10rem;
        animation-name: planet;
        animation-duration: 1.5s;
        animation-timing-function: fade-in;
    }
    .geo-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    .geo-img {
        z-index: 2;
        margin-top: -5rem;
        width: 12rem;
        height: auto;
    }
    .right-container {
        display: flex;
        min-height: 20rem;
        width: 100%;
        .text,
        .planet-name {
            color: $pure-white;
        }
        .text {
            max-width: 90%;
            font-family: "Spartan", sans-serif;
            line-height: 1.5rem;
            font-size: .8rem;
        }
        .planet-name {
            font-family: "Antonio", sans-serif;
            text-transform: uppercase;
            font-size: 2.5rem;
            line-height: 3rem;

        }
    }
    .description-container {
        width: 22rem;
    }
    .buttons {
        min-width: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 21rem;
        .button {
            margin-bottom: 1rem;
            padding: 1rem ;
            width: 100%;
            color: $pure-white;
            font-weight: 700;
            line-height: 25px;
            font-size: 1rem;
            text-align: start;
            background-color: transparent;
            border: solid 1px $dark-grey;
            transition-duration: 0.4s;
            text-transform: uppercase;
            span {
                color: $light-grey;
                padding-right: 1rem;
            }

        }   
    }
    .bottom-container {
        padding: 0 4rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .info {
            border: 1px solid $dark-grey;
            padding: .5rem 1rem;
            display: flex;
            flex-direction: column;           
            width: 6.5rem;
        }
        .data {
            font-family: Spartan;
            font-weight: bold;
            font-size: 0.6rem;
            line-height: 1rem;
            text-transform: uppercase;
            color: $pure-white;
            opacity: 0.5;
        }
        .value {
            font-family: Antonio;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 0.2rem;
            text-transform: uppercase;
            color: $pure-white;
        }
    }
}

//DESKTOP
@media screen and (min-width: 1200px) {
    .planet-page {
        width: 70%; 
    }
    .top-container {
        display: flex;
        margin-top: 65px;
    }
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
    }
    .geo-picture {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .planet-image {
        width: 50%;
        z-index: 1;
        animation-name: planet;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }
    .geo-img {
        z-index: 2;
        margin-top: -5rem;
        width: 100%;
        transform: rotate(-0.06turn);
        transition-duration: 1.8s;
        transition-delay: .7s;
    }
    .right-container {
        width: 35%;
        padding: 2rem 0 0 2rem;
        .text,
        .planet-name {
            color: $pure-white;
            
        }
        .text {
            font-family: "Spartan", sans-serif;
            line-height: 2rem;
            font-size: 1rem;
            max-width: 26rem;
        }
        .planet-name {
            font-family: "Antonio", sans-serif;
            text-transform: uppercase;
            font-size: 3.5rem;
            line-height: 3.7rem;
            display: inline-block;
            white-space: pre-wrap;
            overflow: hidden;
            animation: typing 2.5s steps(50, end),blink .75s step-end infinite;   
        }
        .description {
            min-height: 19rem;
        }
    }
    .buttons {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 1rem 0;
        .button {
            padding: 1.2rem;
            margin-bottom: 1rem;
            color: $pure-white;
            font-weight: 700;
            line-height: 25px;
            font-size: 1rem;
            text-align: start;
            background-color: transparent;
            border: solid 1px $light-grey;
            transition-duration: 0.4s;
            text-transform: uppercase;
            span {
                color: $light-grey;
                padding-right: 1rem;
            }
        }
        .button:hover {
            background-color: $dark-grey;
            border: solid 1px $dark-grey;
        }
        .button:focus {
            background-color: $turquoise;
            border: solid 1px $turquoise;
        }
    }
    .bottom-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: min-content;
        padding-bottom: 2.4rem;
    }
    .info {
        border: 1px solid $dark-grey;
        padding: 1rem 3rem 0 2rem;
        display: flex;
        flex-direction: column;
    }
    .data {
        font-family: Spartan;
        font-weight: bold;
        font-size: 0.7rem;
        line-height: 0.5rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $pure-white;
        opacity: 0.5;
    }
    .value {
        font-family: Antonio;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 1.8rem;
        text-transform: uppercase;
        color: white;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 1.5s steps(30, end), blink .75s step-end infinite;
    }
}


@keyframes planet {
    from {width: 0%}
    to {width: 50%}    
}

@keyframes typing {
    0% { 
        width: 0% ;
    }
    100% { 
        width: 100%;
    }
}
@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: $pure-white; 
    }
}
    
